{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="content" role="main">

  <h1 class="article-title">Board of Directors</h1>
  <article class="article">
    {{ range (where .Data.Pages "Section" "board").ByParam "name" }}

    <hr>
    {{ with .Params.image }}
    <img class="board-photo" src="images/board/{{ . }}" alt="">
    {{ end }}
    <h2>{{ .Params.Name }}</h2>
    <div class="article-content">
      <p><b>Affiliation:</b> {{ .Params.Affiliation }}<br>
      <b>Type of Director:</b> {{ .Params.Type }}</p>

      {{ .Content }}
    </div>
    {{ end }}

  </article>

</main>

{{ partial "footer.html" . }}
