{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">

    <h1 class="article-title">{{ .Title }}</h1>
    <span class="article-date">
      {{ if eq .Params.language "sv" }}
      {{ .Date.Day }} {{ index $.Site.Data.months_sv (printf "%d" .Date.Month) }} {{ .Date.Year }}
      {{ else }}
      {{ .Date.Format "2 January 2006" }}
      {{ end }}
    </span>

    <div class="article-content">
      {{ .Content }}
    </div>

  </article>

</main>

{{ partial "footer.html" . }}
