{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">

    <h1 class="article-title">Members and Sponsors</h1>

    <p>The Nordix Foundation would not exist without the support of the Platinum,
    Silver, and Academic/Non-Profit Members listed below. Learn more about
    <a href="/join/"> how your organization can join</a>.</p>

    <hr>
    <h2>Platinum Members</h2>
    <div class="article-content">
      <div class="sponsor-list">
        {{ range (where .Data.Pages "Section" "members").ByParam "name" }}
        {{ if eq .Params.Type "platinum" }}
        {{ with .Params.website }}<a href="{{ . }}">{{ end }}
        <img class="member-logo" src="images/members/{{ .Params.Image }}" alt="">
        {{ with .Params.website }}</a>{{ end }}
        {{ end }}
        {{ end }}
      </div>
    </div>

    <hr>
    <h2>Silver Members</h2>
    <div class="article-content">
      <div class="sponsor-list">
        {{ range (where .Data.Pages "Section" "members").ByParam "name" }}
        {{ if eq .Params.Type "silver" }}
        {{ with .Params.website }}<a href="{{ . }}">{{ end }}
        <img class="member-logo" src="images/members/{{ .Params.Image }}" alt="">
        {{ with .Params.website }}</a>{{ end }}
        {{ end }}
        {{ end }}
      </div>
    </div>

    <hr>
    <h2>Academic/Non-Profit Members</h2>
    <div class="article-content">
      <div class="sponsor-list">
        {{ range (where .Data.Pages "Section" "members").ByParam "name" }}
        {{ if eq .Params.Type "academic" }}
        {{ with .Params.website }}<a href="{{ . }}">{{ end }}
        <img class="member-logo" src="images/members/{{ .Params.Image }}" alt="">
        {{ with .Params.website }}</a>{{ end }}
        {{ end }}
        {{ end }}
      </div>
    </div>

  </article>

</main>

{{ partial "footer.html" . }}
